<% if !user_signed_in? %> 
  <div id="welcome_page">
    <%# <p id="welcoming_users">WELCOME TO THE LIFETIME BOOK OF HAPPINESS</p> %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id='welcoming_logo'>
      <img src="/logo.png">
    </div>
    <div class="ui large buttons" id="welcome_buttons">
      <button class="ui button" id="button_signin"><a href="/users/sign_in">SIGN IN</a></button>
      <button class="ui button" id="button_signup"><a href="/users/sign_up">SIGN UP</a></button>
    </div>
  </div>
<% else %>
 <div id="about">
  <span>Lifetime Book of Happiness</span>
  </br>
  </br>
Platform to store and organize memories of happiness, creating a book of them by tag, year, month.
You can search for the memory by date, by tag, by map, picture, word.
</br>
It helps to keep track of happiness using google map, database, gallery, tags.
</br>
Happiness cannot be traveled to, owned, earned, worn or consumed. Happiness is the spiritual experience of living every minute with love, grace, and gratitude.
</br>
Perfect happiness is a beautiful sunset, the giggle of a grandchild, the first snowfall. It's the little things that make happy moments, not the grand events. Joy comes in sips, not gulps.

 </div>
<% end %>
