/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "semantic-ui";
// Map
  #map{
    height:600px;
    width:93%;
    margin-left: 50px;
    margin-bottom: 50px;
  }

// Welcome page
  #welcoming_logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 41%;
  }

  #welcome_buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

#button_signin, #button_signup {
  background-color: white;
  border: 1px solid #ec4b4e;
  margin: 5px;
}

#button_signin:hover, #button_signup:hover {
  background-color: #ec4b4e;
}
#button_signin a, #button_signup a {
  color: black;
}

#button_signin a:hover, #button_signup a:hover {
  background-color: #ec4b4e;
  color: black;
}

// Sign In Form
#login_page {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
  color:#ec4b4e; 
  text-transform: uppercase;
}


.password, .email, .submit_button, .new_password, .nickname,  {
  background: transparent;
  border: 1px solid #ec4b4e;
  height: 30px;
  width: 300px;
  margin: 10px;
}

input {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(12, 12, 12);
  transition: background-color 5000s ease-in-out 0s;
}

.submit_button {
  color: white;
  background-color:#ec4b4e; 
}

.submit_button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.page_heart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 63%;
  margin-top: 30px;
}

#login_page, #signup_page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 21%;
  margin-top: 20px;
  
}
.userpage {
  margin-top: 53px;
}

.every_page_heart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  margin-top: 20px;
}

#navbar {
  border: 1px solid white;
  background-color:#ec4b4e; 
  color: white;
}

#navbar a {
  color: white;
  
}

#navbar a:hover {
  background-color: white;
  color: #ec4b4e;

}

#sign_out_layout, #edit_profile_layout {
  background-color: white;
}
#sign_out_layout a, #edit_profile_layout a {
  color: #ec4b4e;
}

#sign_out_layout a:hover, #edit_profile_layout a:hover {
  color: black;
}

.devise:hover {
  background-color: white;
  color: black;
}

// Tags
#tag_cloud {
  width: 1000px;
  // line-height: 1.6em;
  margin: 200px;
  margin-top: 50px;
  line-height: 50px;
}
.s, .m, .l {
  color:#ec4b4e;
  padding: 5px;
  border: 1px solid;
  margin: 20px;

}
a:visited, a:link {
  color: #ec4b4e;
}

.s:hover, .m:hover, .l:hover {
  background-color: white;
  color: black;
}

.section_title {
  margin-bottom: 50px;
  margin-left: 50px;
}

select {
  background-color: #ec4b4e;
  width: 130px;
  height: 36px;
  color: white;
  outline: none;
  font-family: 'Noto Sans', sans-serif;
}

form {
  margin-left: 100px;

}

#post_form {
  width: 1200px;
  margin-left: 100px;
  margin-bottom: 50px;
}

tr {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}
.search_form {
  margin-bottom: 30px;
}
.search_form input {
  height: 30px;
  width: 200px;
  border: 1px solid #ec4b4e;
  font-family: 'Noto Sans', sans-serif;
}
.search_submit {
  background-color: #ec4b4e;
  color: white;
  font-family: 'Noto Sans', sans-serif;
}

.search_submit:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.search_for {
  color:#ec4b4e; 
  margin-top: 30px;
  margin-bottom: 10px;
}
td a:hover {
  background: transparent;
}

// Specific post

#specific_post {
  width: 1200px;
  margin-left: 100px;
  margin-bottom: 50px;
}

#post_text, #post_tags, #post_date {
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
}

.edit, .back {
  font-size: 20px;
}
.back_to {
  font-size: 20px;
  margin-left: 100px;
}

.edit:hover, .back:hover, #post_tags a:hover {
  background-color: white;
}
.edit {
  margin-left: 100px;
  margin-right: 30px;
}

.functions {
  margin-bottom: 100px;
}

.post_image {
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#gallery {
  width: 1200px;
  margin-left: 100px;
  margin-bottom: 50px;
}

#gallery img {
  height: 200px;
  padding: 20px;
}

.field input {
  border: 1px solid #ec4b4e;
}

.text_input {
  margin-bottom: 10px;
  margin-top: 20px;
  width: 300px;
}

#post_tag_list {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
}

#uploads {
  margin-bottom: 10px;
  margin-top: 20px;
}

.post_date_form {
  margin-bottom: 10px;
  margin-top: 20px;
}

#submit {
  border: 1px solid #ec4b4e;
}

.actions button {
  margin-bottom: 20px;
  margin-top: 20px;
}

#back_to {
  margin-bottom: 50px;
}

.map img {
  height: 100px;
  padding: 10px;
}
.map a:hover {
  background-color: transparent;
}
#book_sections {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  width: 800px;
  margin-left: 308px;
}
#book_sections a {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#book_sections a:hover {
  background-color: #ec4b4e;
  color: white;
}

.create_tag {
  margin-left: 50px;
}
.create_tag {
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
  
}

#search_tag_form form {
  margin-left: 50px;
}


#book_image_cover img {
  height: 400px;
}

.book_image {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.book_text {
  padding: 20px;
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
  text-indent: 20px;
  padding-bottom: 10px;
}

.book_date {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
  text-indent: 20px;
}

// Book styling

#flipbook {
  opacity:1;
  margin-left: 50px;
  margin-bottom: 100px;
}

.hard {
  background-color: #ec4b4e;
  color: white;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

.hard p {
  color: white;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
}
.pages {
  opacity:1;
  background-color: white;
  background-image: url('https://cdn.inspirationhut.net/wp-content/uploads/2014/09/handmade-paper-pattern.jpg');

}

#flipbook .page-wrapper{
 perspective: 2000px;
}

#book_by_date {
  margin-left: 50px;
}

#post_text {
  text-indent: 20px;
}

#post_form {
  td {
    word-break: break-word;
  }
  td.nobreak {
    word-break: normal;
    white-space: nowrap;
  }
}
